PORT=

DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME= 
DB_PORT=
DB_CONN_LIMIT=

ACCESS_TOKEN_SECRET=change_me_super_long_access_secret
REFRESH_TOKEN_SECRET=change_me_super_long_refresh_secret

ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d

SCAN_PIN=votre_scan_pin
RESET_TOKEN_TTL_MINUTES=
BCRYPT_SALT_ROUNDS=

FRONTEND_URL=http://localhost:3000